html {
  font-size: 20px;
}
.App {
  text-align: center;
}

#root {
  height: 100%;
}

.ant-upload-select-picture-card {
  width: 500px !important;
  height: 500px !important;
}

.input-upload {
  width: 500px;
  height: 500px;
  color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.flex-flow {
  flex-flow: column;
}

.ant-table-thead > tr > th {
  background-color: #dbeafe;
}

.ant-table-thead th.ant-table-column-has-sorters {
  background-color: #bfdbfe;
}
